@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Roboto|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato;
}

.register-page {
    width: 100%;
    height: 100vh;
    background: #222;
}

.title-register-wrapper {
    text-align: center;
    padding-top: 60px;
}

h1 {
	color: #fff;
	font-size: 30px;
	font-family: "ubuntu";
	text-transform: uppercase;
	font-weight: 800;
	background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #7ed6df 60%);
	background-size: auto auto;
	background-size: 200% auto;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: mytextanimate 1.5s linear infinite;
	display: inline-block;
}


@keyframes mytextanimate {
	to {
		background-position: 200% center;
	}
}

.register-form {
    background: #fff;
    position: relative;
    width: 440px;
    height: 450px;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    margin: 0 auto;
    top: -100px;
    padding-top: 30px;
    box-shadow: 0 3px 8px #000;
}

label {
    float: left;
    width: 140px;
    padding-left: 50px;
    margin-top: 10px;
    color: #444;
    font-size: 15px;
}

input {
    width: 210px;
    padding: 12px 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    border: 1px solid #ccc;
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 15px;
}

input:hover {
    width: 210px;
    padding: 12px 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    border: 1px solid #c0392b;
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 15px;
}

.register-btn {
    padding: 15px 18px;
    background-color: #c0392b;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 160px;
    cursor: pointer;
    margin-top: 40px;
}

.register-btn:hover {
    padding: 15px 18px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 160px;
    cursor: pointer;
    margin-top: 40px;
}

.signin-in-register {
    color: #c0392b;
    text-decoration: none;
    font-weight: bold;
    padding-left: 4px;
}

.box {
    display: flex;
}

.inner {
    width: 300px;
    height: 80px;
    line-height: 100px;
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.inner:first-child {
    background: transparent;
    color: #fff;
    text-shadow: 1px 1px 2px #f1c40f;
    transform-origin: right;
    transform: perspective(600px)rotateY(-30deg);
}

.inner:last-child {
    background: transparent;
    color: #f1c40f;
    text-shadow: 1px 1px 2px #fff;
    transform-origin: right;
    transform: perspective(600px)rotateY(30deg);
}

.inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}

.inner:first-child span {
    animation-delay: 1.5s;
    left: -100%;
}

@keyframes marquee {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}


#name_error {
    font-size: 14px;
    padding-left: 190px;
    margin-top: -15px;
    margin-bottom: 20px;
}

#password_error {
    font-size: 14px;
    padding-left: 190px;
    margin-top: -15px;
    margin-bottom: 20px;
}


#email_error {
    font-size: 14px;
    padding-left: 190px;
    margin-top: -15px;
    margin-bottom: 20px;
}

/* Butterfly */
.butterfly-container {
    width: 160px;
    height: 113px;
    position: relative;
    left: 24%;
    top: -6%;
    transform: translate(-24%, -6%);
    perspective: 600px;
  }
  
  .butterfly {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotate3d(2, 1, -1, 45deg);
    transition: all 2s ease-in-out;
  }
  
  .butter-part {
    position: absolute;
    background-size: 100% 100%;
  }
  
  .butterfly .butter-body {
    width: 26%;
    height: 80%;
    left: 50%;
    transform: translate(-50%);
    background-image: url("images/content-design-img-Butterfly.png");
  }
  
  .butterfly .left-wing {
    width: calc(50% - 2px);
    height: 100%;
    left: 0;
    animation: leftAnim 5s ease-in-out infinite;
    transform-origin: right;
    background-image: url("images/lwing.png");
  }
  
  .butterfly .right-wing {
    width: calc(50% - 2px);
    height: 100%;
    right: 0;
    animation: rightAnim 5s ease-in-out infinite;
    transform-origin: left;
    background-image: url("images/rwing.png");
  }
  
  
  @keyframes leftAnim {
    0% { transform: rotate3d(0, 1, 0, 80deg); }
    50% { transform: rotate3d(0, 1, 0, 20deg); }
    100% { transform: rotate3d(0, 1, 0, 80deg); }
  }
  
  @keyframes rightAnim {
    0% { transform: rotate3d(0, 1, 0, -80deg); }
    50% { transform: rotate3d(0, 1, 0, -20deg); }
    100% { transform: rotate3d(0, 1, 0, -80deg); }
  }